<mat-toolbar color="primary" class="mat-elevation-z4">
  <mat-toolbar-row>
    <div class="brand-title">
      <a mat-flat-button color="primary" [routerLink]="['/']">
        <mat-icon>movie</mat-icon>
        <span>MovieMania</span>
      </a>
    </div>
    <div>
      <app-search></app-search>
    </div>
    <div>
      <!-- <a
        mat-flat-button
        color="primary"
        [routerLink]="['/login']"
        matTooltip="Login button"
      >
        <mat-icon>login</mat-icon>
        <i class="fa-solid fa-user"></i>
      </a>

      <a
        mat-flat-button
        color="primary"
        href="https://github.com/AnkitSharma-007/MovieApp"
        target="_blank"
        matTooltip="GitHub link"
      >
        <i class="fa-brands fa-github"></i> GitHub
      </a> -->
    </div>
  </mat-toolbar-row>
</mat-toolbar>
